<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <title>Cardápio DevBurger</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <h1>Bem-vindo à DevBurger!</h1>
    <h2>Nosso Cardápio:</h2>
    <a href="/api/lanches">Ver Cardápio</a>

    <h2>Sugira um novo lanche:</h2>
    <form action="/sugestao" method="GET">
      <label for="nome">Nome do Lanche:</label><br>
      <input type="text" id="nome" name="nome" required><br><br>

      <label for="ingredientes">Ingredientes:</label><br>
      <textarea id="ingredientes" name="ingredientes" required></textarea><br><br>

      <button type="submit">Enviar Sugestão</button>
    </form>

    <br>
    <a href="/contato">Fale Conosco</a>
  </body>

</html>