* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1.5rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1rem;
}

a, button, input[type="submit"] {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  resize: vertical;
}
